.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureSvgIcon {
  font-size: 3rem; /* Example size, adjust as needed */
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
  max-width: 3rem;
}